<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <!-- the session we'll use to connect to this database-->
    <session-factory>
        <!-- driver we'll use for the db connection-->
        <property name="connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <!-- URL we'll use to connect to the db : protocole(jdbc:mysql), address, db name-->
        <property name="connection.url">
            jdbc:mysql://localhost:3306/company
        </property>
        <!-- connection ID -->
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <!-- this will log all requests -->
        <property name="show_sql">true</property>

        <!-- mapping our entities to the db to connect to the table properly-->
        <mapping class="entity.Employee"/>
    </session-factory>
</hibernate-configuration>